.idea
__pycache__
.ipynb_checkpoints
Source/authorization.json
Source/unliked_users.json
Source/liked_users.json
Source/masters.txt
Source/collected_users.txt
Source/liked_users.txt
Source/unliked_users.txt
test.ipynb
log.log